.avatar {
  display: block;
  width: 100%;
  max-width: 270px;

  .no-user {
    background: url("/images/userDefaultIcon.png") center no-repeat;
    background-size: 100%;
  }

  img {
    width: 100%;
    background: $light-gray-background;
  }

  div {
    text-align: center;
    background-color: $grey-light;
    font-weight: bold;
    font-size: 13px;
    color: $text-color;
    overflow: hidden;
  }
}

.profileCircleImg {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: table;
  margin: 0 auto;

  &:hover {
    .profileSelector {
      visibility: visible;
    }
  }

  .profileSelector {
    transition: background-color 7s ease-out;
    visibility: hidden;
    background-color: rgba(0,0,0,0.44);
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    .profileImageInput {
      display: none;
    }

    label {
      padding: 15px 10px 23px 10px;

      .svgUpload {
        fill: #fff;
        padding-top: 3px;
        margin: 5px 5px 0 0;
      }

      span {
        font-weight: 400;
      }
    }
  }
}

.text-normal .name-card .first-line {
  font-weight: normal;
}

.name-card {
  overflow: hidden;
  display: flex;
  align-items: center;

  .avatar {
    float: left;
    padding: 0;
  }

  .text {
    margin-left: 10px;
  }

  .first-line {
    padding: 0;
    font-weight: bold;
    display: block;
    color: $text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .second-line {
    font-size: 13px;
    color: $text-color-light;
  }
}

.dropdown-menu {
  .name-card {
    padding: 3px 20px;
  }
}
